@{
    ViewBag.Title = "Home Page";
}

<div class="row">

    <div class="col-md-6" id="gameArea">
        <table>
            <tr>
                @*<td id="cell_1_1"><input type="number" class="intInput" id="t_1_1" min="1" max="9" /></td>*@
                <td id="cell_0_0"></td>
                <td id="cell_0_1"></td>
                <td id="cell_0_2"></td>
                <td id="cell_0_3"></td>
                <td id="cell_0_4"></td>
                <td id="cell_0_5"></td>
                <td id="cell_0_6"></td>
                <td id="cell_0_7"></td>
                <td id="cell_0_8"></td>
            </tr>
            <tr>
                <td id="cell_1_0"></td>
                <td id="cell_1_1"></td>
                <td id="cell_1_2"></td>
                <td id="cell_1_3"></td>
                <td id="cell_1_4"></td>
                <td id="cell_1_5"></td>
                <td id="cell_1_6"></td>
                <td id="cell_1_7"></td>
                <td id="cell_1_8"></td>                
            </tr>
            <tr>
                <td id="cell_2_0"></td>
                <td id="cell_2_1"></td>
                <td id="cell_2_2"></td>
                <td id="cell_2_3"></td>
                <td id="cell_2_4"></td>
                <td id="cell_2_5"></td>
                <td id="cell_2_6"></td>
                <td id="cell_2_7"></td>
                <td id="cell_2_8"></td>
            </tr>
            <tr>
                <td id="cell_3_0"></td>
                <td id="cell_3_1"></td>
                <td id="cell_3_2"></td>
                <td id="cell_3_3"></td>
                <td id="cell_3_4"></td>
                <td id="cell_3_5"></td>
                <td id="cell_3_6"></td>
                <td id="cell_3_7"></td>
                <td id="cell_3_8"></td>                
            </tr>
            <tr>
                <td id="cell_4_0"></td>
                <td id="cell_4_1"></td>
                <td id="cell_4_2"></td>
                <td id="cell_4_3"></td>
                <td id="cell_4_4"></td>
                <td id="cell_4_5"></td>
                <td id="cell_4_6"></td>
                <td id="cell_4_7"></td>
                <td id="cell_4_8"></td>
            </tr>
            <tr>
                <td id="cell_5_0"></td>
                <td id="cell_5_1"></td>
                <td id="cell_5_2"></td>
                <td id="cell_5_3"></td>
                <td id="cell_5_4"></td>
                <td id="cell_5_5"></td>
                <td id="cell_5_6"></td>
                <td id="cell_5_7"></td>
                <td id="cell_5_8"></td>
            </tr>
            <tr>
                <td id="cell_6_0"></td>
                <td id="cell_6_1"></td>
                <td id="cell_6_2"></td>
                <td id="cell_6_3"></td>
                <td id="cell_6_4"></td>
                <td id="cell_6_5"></td>
                <td id="cell_6_6"></td>
                <td id="cell_6_7"></td>
                <td id="cell_6_8"></td>
            </tr>
            <tr>
                <td id="cell_7_0"></td>
                <td id="cell_7_1"></td>
                <td id="cell_7_2"></td>
                <td id="cell_7_3"></td>
                <td id="cell_7_4"></td>
                <td id="cell_7_5"></td>
                <td id="cell_7_6"></td>
                <td id="cell_7_7"></td>
                <td id="cell_7_8"></td>
            </tr>
            <tr>
                <td id="cell_8_0"></td>
                <td id="cell_8_1"></td>
                <td id="cell_8_2"></td>
                <td id="cell_8_3"></td>
                <td id="cell_8_4"></td>
                <td id="cell_8_5"></td>
                <td id="cell_8_6"></td>
                <td id="cell_8_7"></td>
                <td id="cell_8_8"></td>
            </tr>
        </table>                
    </div>

    <div class="col-md-6">
        <span>Имя</span>

        <input type="text" id="user" />

        <button type="button" class="btn btn-primary" id="createGame">Создать</button>

        <button type="button" class="btn btn-info" id="showRating">Рейтинг</button>

        <div id="info" class="col-md-12;col-lg-12"></div>

        <div id="log" class="col-md-12;col-lg-12"></div>

    </div>

    @*<div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>